:root {
	--gl_indent: 2em;
}

html {
	font: 400 calc(100vw / 1920 * 10)/1.33 'Poppins';
}

body {
	font-size: 16px;
}

// wrapper
.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100vh;

	font-size: 1rem;
}